body {
  height: 100vh;
  background-image: linear-gradient(#ffa500, #ffff00);
  background-repeat: no-repeat;
  font-family: "PT Sans", sans-serif;
  overflow: hidden;
  color: rgb(34, 34, 34);
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100vw;
  background-color: white;
  text-align: center;
}

h1 {
  font-size: 52px;
}

input[type="color"] {
  width: 155px;
  height: 80px;
  border: none;
  background-color: white;
  padding: 0;
}

h2 {
  margin-top: 65px;
  margin-bottom: 25px;
  font-size: 32px;
}

.option {
  width: 90px;
}

.option.left {
  padding-right: 90px;
}

.option input {
  appearance: none;
  -webkit-appearance: none;
}

.directions {
  width: 310px;
  height: 280px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.code {
  font-size: 25px;
  font-style: italic;
}

input:checked + svg rect {
  fill: lightslategray;
}
