body {
  height: 100vh;
  background-image: linear-gradient(#ffa500, #ffff00);
  background-repeat: no-repeat;
  font-family: "PT Sans", sans-serif;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100vw;
  background-color: white;
  text-align: center;
}

h2 {
  margin-bottom: 50px;
}

.option {
  margin: auto;
  width: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.code {
  font-size: 25px;
  font-style: italic;
}
